<%= render "navbar" %>
<h1>Liste des chambres<h1>
<ul>
  <% @chambres.each do |c| %>
	<li><%= "L'hotel possède #{c.nb} chambres de type #{c.type_c}." %></li>
  <% end %> 
	
</ul>

<p><%= link_to "Retour à l'accueil", root_path %></p>