<h1>Liste des chambres<h1>
<ul>
  <% for i in 0..@types.length-1 %>
	<li><%= "L'hotel possède #{@nbs[i]} chambres de type #{@types[i]}." %></li>
  <% end %> 


	<%# if c.isOccupied %>
	<%#	<li>La chambre <  c.num  > est occupée </li>
	<%# elsif !c.isOccupied %>
	<%#	<li>La chambre <  c.num  > est libre </li>		
	<%# end %>
	
  
</ul>